.loginForm {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px 8px;
    margin: 24px;
    max-width: 268px;
}

.formLabel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}

.formField {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 4px;
}

.formBtn {
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: rgb(201, 216, 254);
    padding: 2px;
    width: 90px;
}

.formBtn:hover {
    background-color: rgb(179, 201, 255);
}

.note {
    text-align: center;
    font-size: 14px;
}

.noteLink {
    color: rgb(122, 145, 206);
    text-decoration: none;
}